<% provide(:title, "マイページ") %>
<h1>マイページ</h1>
<div class="row">
  <aside class="col-md-4">
    <%= gravatar_for @user, size: 100 %>
  </aside>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <%= render 'follow_form' if logged_in? %>
  <div class="col-md-8">
    <section class="user_name_info">
      <%= @user.name %>
    </section>
    <%= link_to "プロフィールを編集する", edit_user_path(@user) %>
    <%= link_to "アカウントを削除する", user_path(@user), method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
    <%= @user.introduction %>
    <%= @user.sex %>
  </div>
  <div class="col-md-8">
    <% if @user.dishes.any? %>
      <h3>料理 <%= @user.dishes.count %>件</h3>
      <ol class="dishes">
        <%= render @dishes %>
      </ol>
      <%= will_paginate @dishes %>
    <% end %>
  </div>
</div>
