<% provide(:title, "お料理情報") %>
<% @memos  = @dish.feed_memo(@dish.id) %>
<% @logs  = @dish.feed_log(@dish.id) %>
<h1>お料理情報</h1>
<div class="row">
  <aside class="col-md-4">
    <%= gravatar_for @dish.user, size: 100 %>
  </aside>
  <div class="col-md-8">
    <section class="dish_name_info">
      <%= @dish.name %>
    </section>
    <%= link_to "お料理情報を編集する", edit_dish_path(@dish) %>
    <%= link_to "お料理情報を削除する", dish_path(@dish), method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %><br><br>
    <span class="picture">
      <%= link_to((image_tag @dish.picture.url), dish_path(@dish.id)) if @dish.picture.url.present? %>
    </span>
    <%= render 'users/favorite_form' %>
    <%= render 'users/list_form' %>
    <%= @dish.description %><br>
    分量：<%= @dish.portion %>人分<br>
    コツ・ポイント：<%= @dish.tips %><br>
    参照URL：<%= @dish.reference %><br>
    所要時間：<%= @dish.required_time %><br>分
    人気度：<%= @dish.popularity %>
    <span class="log">
      <%= render "logs/new" %>
      <%= render "logs/feed_logs" %>
    </span>
    <span class="memo">
      <%= render "memos/new" %>
      <%= render "memos/feed_memos" %>
    </span>
  </div>
</div>
