<%= form_for(@log) do |f| %>
  <%= hidden_field_tag :dish_id, @dish.id %>
  <%= hidden_field_tag :list_id, @list.id if @list.present? %>
  <div class="row">
    <div class="field">
      <%= f.text_area :content, placeholder: "クックメモを追加..." %>
    </div>
  <div class="col-md-3">
    <% if @list.present? %>
      <%= f.submit "クックログを追加", class: "btn btn-primary",
                                    data: { confirm: "クックログへの追加を行いますか？ 追加すると、リストからは削除されます。" } %>
    <% else %>
      <%= f.submit "クックログを追加", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
